.indexPage{
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(139.94deg, #5AA9A7 0%, #F1FFFF 51.56%, #5AA9A7 100%), rgba(255, 255, 255, 0.87);

}

.bodyComponent{
  padding-top:125px;
  padding-left: 200px;
  padding-right: 200px;
}